[
    {
        "question": "What is Alvio?",
        "ground_truth": [
            {
                "doc_source": "web",
                "doc_link": "https://docs.alvio.io/welcome"
            }
        ],
        "categories": [
            "keyword",
            "broad",
            "easy"
        ]
    }
]